#one * {
    box-sizing: border-box;
}

#one a {
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    color: #dd3c1a;
    text-decoration: none;
    border-bottom: dotted 1px;
}

#one a:hover {
    border-bottom-color: transparent;
}

#one input[type="button"],
#one input[type="submit"],
#one input[type="reset"],
#one .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background: none;
    border: solid 1px;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 900;
    letter-spacing: 2px;
    min-width: 18em;
    padding: 0 0.75em;
    line-height: 3.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#one input[type="button"]:hover,
#one input[type="submit"]:hover,
#one input[type="reset"]:hover,
#one .button:hover {
    background: rgba(188, 202, 206, 0.15);
    border-color: inherit;
}

#one input[type="button"].special,
#one input[type="submit"].special,
#one input[type="reset"].special,
#one .button.special {
    background: #ee856f;
    border-color: #ee856f;
    color: #fff !important;
}

#one input[type="button"].special:hover,
#one input[type="submit"].special:hover,
#one input[type="reset"].special:hover,
#one .button.special:hover {
    background: #f19886 !important;
    border-color: #f19886 !important;
}

#one input[type="button"].fit,
#one input[type="submit"].fit,
#one input[type="reset"].fit,
#one .button.fit {
    width: 100%;
}

#one ul.buttons {
    cursor: default;
    list-style: none;
    padding: 0;
    margin: 0;
}

#one ul.buttons:last-child {
    margin-bottom: 0;
}

#one ul.buttons li {
    display: inline-block;
    padding: 0 0 0 1.5em;
}

#one ul.buttons li:first-child {
    padding: 0;
}

#one ul.buttons.vertical li {
    display: block;
    padding: 1.5em 0 0 0;
}

#one ul.buttons.vertical li:first-child {
    padding: 0;
}

@-webkit-keyframes reveal-header {
    0% {
        top: -5em;
    }
    100% {
        top: 0;
    }
}

@-ms-keyframes reveal-header {
    0% {
        top: -5em;
    }
    100% {
        top: 0;
    }
}

@keyframes reveal-header {
    0% {
        top: -5em;
    }
    100% {
        top: 0;
    }
}

#one .header {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
    color: inherit;
    cursor: default;
    font-size: 0.8em;
    padding: 1em 1.5em;
    width: 100%;
    z-index: 10000;
}

#one .header h1 {
    font-weight: 900;
    margin: 0;
    float: left;
    display: block;
}

#one .header h1 a {
    text-decoration: none;
}

#one .header h1 span {
    font-weight: 300;
}

#one .header nav {
    letter-spacing: 0.075em;
    position: absolute;
    right: 1.5em;
    text-transform: uppercase;
    top: 0.75em;
}

#one .header nav ul li {
    display: inline-block;
    margin-left: 1.5em;
}

#one .header nav ul li > ul {
    display: none;
}

#one .header nav ul li a {
    border: solid 1px transparent;
    color: inherit;
    display: inline-block;
    line-height: 1em;
    padding: 0.6em 0.75em;
    text-decoration: none;
}

#one .header nav ul li input[type="button"],
#one .header nav ul li input[type="submit"],
#one .header nav ul li input[type="reset"],
#one .header nav ul li .button {
    font-size: 1em;
    min-width: 0;
    width: auto;
}

#one .header nav ul li.submenu > a {
    text-decoration: none;
}

#one .header nav ul li.submenu > a:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#one .header nav ul li.submenu > a:before {
    content: '\f107';
    margin-right: 0.65em;
}

#one .header nav ul li.active > a,
#one .header nav ul li:hover > a {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: rgba(188, 202, 206, 0.15);
}

#one .header nav ul li.current > a {
    font-weight: 900;
}

#one .header.reveal {
    -webkit-animation: reveal-header 0.5s;
    -ms-animation: reveal-header 0.5s;
    animation: reveal-header 0.5s;
}

#one .header.alt {
    -webkit-animation: none;
    -ms-animation: none;
    animation: none;
    background: transparent;
    box-shadow: none;
    color: #fff;
    padding: 2em 2.5em;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

#one .header.alt nav {
    right: 2.5em;
    top: 1.75em;
}

#one .header.alt nav ul li.active > a,
#one .header.alt nav ul li:hover > a {
    border: solid 1px;
}

@-webkit-keyframes reveal-banner {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes reveal-banner {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes reveal-banner {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#one .banner {
    background-attachment: scroll, scroll, scroll, fixed;
    background-color: #645862;
    background-image: url("../../assets/images/003light-bl.svg"), url("../../assets/images/003light-br.svg"), url("../../assets/images/003overlay.png"), url("../../assets/images/003banner.jpg");
    background-position: bottom left, bottom right, top left, top center;
    background-repeat: no-repeat, no-repeat, repeat, no-repeat;
    background-size: 25em, 25em, auto, cover;
    color: #fff;
    cursor: default;
    padding: 6em 0;
    text-align: center;
    position: relative;
}

#one .banner .inner {
    -webkit-animation: reveal-banner 1s 0.25s ease-in-out;
    animation: reveal-banner 1s 0.25s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background: rgba(52, 27, 43, 0.5);
    color: #fff;
    display: inline-block;
    opacity: 0;
    padding: 3em;
    text-align: center;
}

#one .banner .inner header {
    display: inline-block;
    border-bottom: solid 2px;
    border-top: solid 2px;
    margin: 0 0 2em 0;
    padding: 3px 0 3px 0;
}

#one .banner .inner header h2 {
    border-bottom: solid 2px;
    border-top: solid 2px;
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: 0.2em;
    margin: 0;
    padding-left: 0.05em;
    position: relative;
    text-transform: uppercase;
}

#one .banner .inner p {
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
}

#one .banner .inner p a {
    color: inherit;
    font-weight: 400;
    text-decoration: none;
}

#one .banner .inner footer {
    margin: 2em 0 0 0;
}

@media screen and (max-width: 1680px) {
    body,
    input,
    select,
    textarea {
        font-size: 14pt;
    }
}

@media screen and (max-width: 1280px) {
    body,
    input,
    select,
    textarea {
        font-size: 13pt;
        letter-spacing: 0.025em;
        line-height: 1.65em;
    }
    #one h1,
    #one h2,
    #one h3,
    #one h4,
    #one h5,
    #one h6 {
        line-height: 1.5em;
    }
    #one .header nav ul li {
        margin-left: 1em;
    }
    #one .banner {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 980px) {
    body,
    input,
    select,
    textarea {
        font-size: 13pt;
        letter-spacing: 0.025em;
        line-height: 1.5em;
    }
    #one .banner {
        background-size: 15em, 15em, auto, cover;
    }
}

@media screen and (max-width: 840px) {
    html,
    body {
        overflow-x: hidden;
    }
    #one input[type="button"].small,
    #one input[type="submit"].small,
    #one input[type="reset"].small,
    #one .button.small {
        font-size: 0.8em;
        min-width: 18em;
        padding: 0.75em 0;
    }
    #one ul.buttons li {
        display: block;
        padding: 1em 0 0 0;
    }
    #one .header {
        display: none;
    }
    #one .banner {
        margin: 0;
    }
}

@media screen and (max-width: 736px) {
    body {
        min-width: 320px;
    }
    #one h2 {
        font-size: 1.25em;
        letter-spacing: 0.1em;
    }
    #one h3 {
        font-size: 1em;
        letter-spacing: 0.025em;
    }
    #one p {
        text-align: justify;
    }
    #one input[type="button"],
    #one input[type="submit"],
    #one input[type="reset"],
    #one .button {
        max-width: 20em;
        width: 100%;
    }
    #one input[type="button"].fit,
    #one input[type="submit"].fit,
    #one input[type="reset"].fit,
    #one .button.fit {
        width: auto;
    }
    #one ul.buttons {
        text-align: center;
    }
    #one .banner {
        background-size: 10em, 10em, auto, cover;
        padding: 6em 0;
    }
    #one .banner .inner {
        background: none;
        display: block;
        padding: 0 1.5em;
    }
    #one .banner .inner header h2 {
        font-size: 1.5em;
    }
    #one .banner .inner p {
        text-align: center;
    }
    #one .banner .inner br {
        display: none;
    }
}

#two {
    background-image: url("../../assets/images/003dark-tl.svg"), url("../../assets/images/003dark-tr.svg");
    background-position: top left, top right;
    background-repeat: no-repeat;
    background-size: 25em;
    padding: 7em 0 0 0;
    background-color: #f3f6fa;
}

#two * {
    box-sizing: border-box;
}

#two a {
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    color: #dd3c1a;
    text-decoration: none;
    border-bottom: dotted 1px;
}

#two a:hover {
    border-bottom-color: transparent;
}

#two h2 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

#two p {
    letter-spacing: 0.025em;
    line-height: 1.5em;
}

#two header.special {
    margin-bottom: 5em;
    padding-top: 7em;
    position: relative;
    text-align: center;
}

#two header.special:before,
#two header.special:after {
    border-bottom: solid 1.5px;
    border-top: solid 1.5px;
    content: '';
    height: 7px;
    opacity: 0.1;
    position: absolute;
    top: 1.75em;
    width: 43%;
}

#two header.special:before {
    left: 0;
}

#two header.special:after {
    right: 0;
}

#two header.special h2 {
    margin-bottom: 0;
}

#two header.special h2 + p {
    margin-bottom: 0;
    padding-top: 1.5em;
}

#two header.special .icon {
    cursor: default;
    height: 7em;
    left: 0;
    position: absolute;
    text-align: center;
    top: 1em;
    width: 100%;
}

#two header.special .icon:before {
    font-size: 3.5em;
    opacity: 0.35;
}

#two .icon {
    text-decoration: none;
    position: relative;
}

#two .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#two .icon > .label {
    display: none;
}

@media screen and (max-width: 1680px) {
    #two header.special {
        padding-top: 5.5em;
        margin-bottom: 4em;
    }
}

@media screen and (max-width: 1280px) {
    #two h2 {
        line-height: 1.5em;
    }
}

@media screen and (max-width: 980px) {
    #two {
        background-size: 15em;
    }
    #two header br {
        display: none;
    }
    #two header.special {
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
}

@media screen and (max-width: 840px) {
    #two {
        padding: 5em 0 0 0;
    }
    #two header.special {
        margin-bottom: 4em;
        padding-top: 5em;
    }
    #two header.special:before,
    #two header.special:after {
        width: 40%;
    }
    #two header.special h2 + p {
        padding-top: 1.25em;
    }
}

@media screen and (max-width: 736px) {
    #two {
        background-size: 10em;
        padding: 2.5em 0 0 0;
    }
    #two h2 {
        font-size: 1.25em;
        letter-spacing: 0.1em;
    }
    #two p {
        text-align: justify;
    }
    #two header {
        text-align: center;
    }
    #two header.special {
        margin-bottom: 3em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    #two header.special:before,
    #two header.special:after {
        width: 38%;
    }
    #two header.special .icon {
        font-size: 0.75em;
        top: 1.5em;
    }
    #two header p {
        text-align: center;
    }
}

#three {
    background-color: #f3f6fa;
}

#three * {
    box-sizing: border-box;
}

#three a {
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    color: #dd3c1a;
    text-decoration: none;
    border-bottom: dotted 1px;
}

#three a:hover {
    border-bottom-color: transparent;
}

#three h2 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

#three h3 {
    font-size: 1.25em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

#three p {
    letter-spacing: 0.025em;
    line-height: 1.5em;
}

#three ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#three .wrapper {
    margin-bottom: 5em;
    padding: 5em;
}

#three .wrapper.style1 {
    padding: 0;
}

#three .wrapper.style2 {
    background-color: #ee856f;
    background-image: url("../../assets/images/003light-bl.svg"), url("../../assets/images/003light-br.svg");
    background-position: bottom left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: 25em, 25em;
    color: #fff;
}

#three .wrapper.style2 .button:hover {
    background: rgba(255, 255, 255, 0.15) !important;
}

#three .wrapper.style2 .button.special {
    background: #fff;
    border-color: #fff;
    color: #ee856f !important;
}

#three .wrapper.style2 .button.special:hover {
    border-color: inherit !important;
    color: #fff !important;
}

#three .wrapper.style3 {
    background: #fff;
    color: inherit;
}

#three .wrapper.style4 {
    background: #fff;
    color: inherit;
    padding: 4em;
}

#three input[type="button"],
#three input[type="submit"],
#three input[type="reset"],
#three .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background: none;
    border: solid 1px;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 900;
    letter-spacing: 2px;
    min-width: 18em;
    padding: 0 0.75em;
    line-height: 3.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#three input[type="button"]:hover,
#three input[type="submit"]:hover,
#three input[type="reset"]:hover,
#three .button:hover {
    background: rgba(188, 202, 206, 0.15);
    border-color: inherit;
}

#three input[type="button"].special,
#three input[type="submit"].special,
#three input[type="reset"].special,
#three .button.special {
    background: #ee856f;
    border-color: #ee856f;
    color: #fff !important;
}

#three input[type="button"].special:hover,
#three input[type="submit"].special:hover,
#three input[type="reset"].special:hover,
#three .button.special:hover {
    background: #f19886 !important;
    border-color: #f19886 !important;
}

#three input[type="button"].fit,
#three input[type="submit"].fit,
#three input[type="reset"].fit,
#three .button.fit {
    width: 100%;
}

#three .icon {
    text-decoration: none;
    position: relative;
}

#three .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#three .icon.featured {
    cursor: default;
    display: block;
    margin: 0 0 1.5em 0;
    opacity: 0.35;
    text-align: center;
}

#three .icon.featured:before {
    font-size: 5em;
    line-height: 1em;
}

#three .icon > .label {
    display: none;
}

#three ul.featured-icons {
    cursor: default;
    margin: -0.75em 0 0 0;
    opacity: 0.35;
    overflow: hidden;
    position: relative;
}

#three ul.featured-icons li {
    display: block;
    float: left;
    text-align: center;
    width: 50%;
}

#three ul.featured-icons li .icon {
    display: inline-block;
    font-size: 6.25em;
    height: 1.25em;
    line-height: 1.25em;
    width: 1em;
}

#three ul.buttons {
    cursor: default;
}

#three ul.buttons:last-child {
    margin-bottom: 0;
}

#three ul.buttons li {
    display: inline-block;
    padding: 0 0 0 1.5em;
}

#three ul.buttons li:first-child {
    padding: 0;
}

@media screen and (max-width: 1280px) {
    #three h1,
    #three h2,
    #three h3,
    #three h4,
    #three h5,
    #three h6 {
        line-height: 1.5em;
    }
    #three .wrapper {
        margin-bottom: 4em;
        padding: 4em 3em;
    }
    #three .wrapper.style4 {
        padding: 3em;
    }
}

@media screen and (max-width: 980px) {
    #three header br {
        display: none;
    }
    #three .wrapper {
        margin-bottom: 3em;
        padding: 3em 2.5em;
    }
    #three .wrapper.special br {
        display: none;
    }
    #three .wrapper.style1 {
        padding: 0 2.5em;
    }
    #three .wrapper.style2 {
        background-size: 15em;
    }
    #three .wrapper.style4 {
        padding: 2.5em;
    }
}

@media screen and (max-width: 840px) {
    #three .sidebar {
        border-top: solid 1px rgba(124, 128, 129, 0.1);
        padding-top: 3em;
    }
    #three .sidebar section {
        border-top: 0;
        padding-top: 0;
    }
    #three header.major {
        padding-bottom: 0.25em;
    }
    #three header.special {
        margin-bottom: 4em;
        padding-top: 5em;
    }
    #three header.special:before,
    #three header.special:after {
        width: 40%;
    }
    #three header.special h2 + p {
        padding-top: 1.25em;
    }
    #three ul.featured-icons {
        margin: 0;
    }
    #three ul.featured-icons li {
        display: inline-block;
        float: none;
        width: auto;
    }
    #three ul.featured-icons li .icon {
        font-size: 4em;
        width: 1.25em;
    }
    #three ul.buttons li {
        display: block;
        padding: 1em 0 0 0;
    }
    #three .wrapper.special-alt {
        text-align: center;
    }
    #three .wrapper.style4 {
        padding-bottom: 3em;
    }
}

@media screen and (max-width: 736px) {
    #three {
        background-size: 10em;
        padding: 2.5em 0 0 0;
    }
    #three h2 {
        font-size: 1.25em;
        letter-spacing: 0.1em;
    }
    #three h3 {
        font-size: 1.2em;
        letter-spacing: 0.025em;
    }
    #three p {
        text-align: justify;
    }
    #three header {
        text-align: center;
    }
    #three header p {
        text-align: center;
    }
    #three .icon.circle {
        font-size: 1em;
    }
    #three ul.icons li {
        padding-left: 0.25em;
    }
    #three ul.featured-icons li .icon {
        width: 1.1em;
    }
    #three ul.buttons {
        text-align: center;
    }
    #three .wrapper {
        margin-bottom: 2.5em;
        padding: 2.25em 1.5em;
    }
    #three .wrapper.special br {
        display: none;
    }
    #three .wrapper.style1 {
        padding: 0 1.5em;
    }
    #three .wrapper.style2 {
        background-size: 10em;
        padding: 2.25em 1.5em;
    }
    #three .wrapper.style4 {
        background-size: 10em;
        padding: 1.5em 1.5em 3em 1.5em;
    }
}

#four {
    background-color: #f3f6fa;
}

#four * {
    box-sizing: border-box;
}

#four a {
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    color: #dd3c1a;
    text-decoration: none;
    border-bottom: dotted 1px;
}

#four a:hover {
    border-bottom-color: transparent;
}

#four h2 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

#four h3 {
    font-size: 1.25em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

#four p {
    letter-spacing: 0.025em;
    line-height: 1.5em;
}

#four ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#four .wrapper {
    margin-bottom: 5em;
    padding: 5em;
}

#four .wrapper.style1 {
    padding: 0;
}

#four .icon {
    text-decoration: none;
    position: relative;
}

#four .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#four .icon.featured {
    cursor: default;
    display: block;
    margin: 0 0 1.5em 0;
    opacity: 0.35;
    text-align: center;
}

#four .icon.featured:before {
    font-size: 5em;
    line-height: 1em;
}

#four .icon > .label {
    display: none;
}

@media screen and (max-width: 1280px) {
    #four h1,
    #four h2,
    #four h3,
    #four h4,
    #four h5,
    #four h6 {
        line-height: 1.5em;
    }
    #four .wrapper {
        margin-bottom: 4em;
        padding: 4em 3em;
    }
}

@media screen and (max-width: 980px) {
    #four .wrapper {
        margin-bottom: 3em;
        padding: 3em 2.5em;
    }
    #four .wrapper.special br {
        display: none;
    }
    #four .wrapper.style1 {
        padding: 0 2.5em;
    }
}

@media screen and (max-width: 840px) {
    #four section {
        margin: 1em auto;
    }
    #four section:first-child {
        margin-top: 0;
    }
    #four .wrapper.special-alt {
        text-align: center;
    }
}

@media screen and (max-width: 736px) {
    #four h3 {
        font-size: 1.2em;
        letter-spacing: 0.025em;
    }
    #four p {
        text-align: justify;
    }
    #four .wrapper {
        margin-bottom: 2.5em;
        padding: 2.25em 1.5em;
    }
    #four .wrapper.special br {
        display: none;
    }
    #four .wrapper.style1 {
        padding: 0 1.5em;
    }
}

#five {
    background-image: url("../../assets/images/003dark-bl.svg"), url("../../assets/images/003dark-br.svg");
    background-position: bottom left, bottom right;
    background-repeat: no-repeat;
    background-size: 25em;
    padding: 0 0 7em 0;
    background-color: #f3f6fa;
}

#five >:last-child {
    margin-bottom: 0;
}

#five .sidebar section {
    border-top: solid 1px rgba(124, 128, 129, 0.2);
    margin: 3em 0 0 0;
    padding: 3em 0 0 0;
}

#five .sidebar section:first-child {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
}

#five * {
    box-sizing: border-box;
}

#five a {
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    color: #dd3c1a;
    text-decoration: none;
    border-bottom: dotted 1px;
}

#five a:hover {
    border-bottom-color: transparent;
}

#five h2 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

#five h3 {
    font-size: 1.25em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

#five p {
    letter-spacing: 0.025em;
    line-height: 1.5em;
}

#five ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#five .wrapper {
    margin-bottom: 5em;
    padding: 5em;
}

#five .wrapper.style1 {
    padding: 0;
}

#five .wrapper.style2 {
    background-color: #ee856f;
    background-image: url("../../assets/images/003light-bl.svg"), url("../../assets/images/003light-br.svg");
    background-position: bottom left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: 25em, 25em;
    color: #fff;
}

#five .wrapper.style2 .button:hover {
    background: rgba(255, 255, 255, 0.15) !important;
}

#five .wrapper.style2 .button.special {
    background: #fff;
    border-color: #fff;
    color: #ee856f !important;
}

#five .wrapper.style2 .button.special:hover {
    border-color: inherit !important;
    color: #fff !important;
}

#five .wrapper.style3 {
    background: #fff;
    color: inherit;
}

#five .wrapper.style4 {
    background: #fff;
    color: inherit;
    padding: 4em;
}

#five input[type="button"],
#five input[type="submit"],
#five input[type="reset"],
#five .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background: none;
    border: solid 1px;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 900;
    letter-spacing: 2px;
    min-width: 18em;
    padding: 0 0.75em;
    line-height: 3.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#five input[type="button"]:hover,
#five input[type="submit"]:hover,
#five input[type="reset"]:hover,
#five .button:hover {
    background: rgba(188, 202, 206, 0.15);
    border-color: inherit;
}

#five input[type="button"].special,
#five input[type="submit"].special,
#five input[type="reset"].special,
#five .button.special {
    background: #ee856f;
    border-color: #ee856f;
    color: #fff !important;
}

#five input[type="button"].special:hover,
#five input[type="submit"].special:hover,
#five input[type="reset"].special:hover,
#five .button.special:hover {
    background: #f19886 !important;
    border-color: #f19886 !important;
}

#five input[type="button"].fit,
#five input[type="submit"].fit,
#five input[type="reset"].fit,
#five .button.fit {
    width: 100%;
}

#five .image {
    border: 0;
    position: relative;
}

#five .image:before {
    background: url("../../assets/images/003overlay.png");
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#five .image.fit {
    display: block;
}

#five .image.fit img {
    display: block;
    width: 100%;
}

#five .image.featured {
    display: block;
    margin: 0 0 2em 0;
}

#five .image.featured img {
    display: block;
    width: 100%;
}

#five section.special,
#five article.special {
    text-align: center;
}

#five header.major {
    padding-bottom: 2em;
}

#five header.special {
    margin-bottom: 5em;
    padding-top: 7em;
    position: relative;
    text-align: center;
}

#five header.special:before,
#five header.special:after {
    border-bottom: solid 1.5px;
    border-top: solid 1.5px;
    content: '';
    height: 7px;
    opacity: 0.1;
    position: absolute;
    top: 1.75em;
    width: 43%;
}

#five header.special:before {
    left: 0;
}

#five header.special:after {
    right: 0;
}

#five header.special h2 {
    margin-bottom: 0;
}

#five header.special h2 + p {
    margin-bottom: 0;
    padding-top: 1.5em;
}

#five header.special .icon {
    cursor: default;
    height: 7em;
    left: 0;
    position: absolute;
    text-align: center;
    top: 1em;
    width: 100%;
}

#five header.special .icon:before {
    font-size: 3.5em;
    opacity: 0.35;
}

#five footer >:last-child {
    margin-bottom: 0;
}

#five footer.major {
    padding-top: 3em;
}

#five .icon {
    text-decoration: none;
    position: relative;
}

#five .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#five .icon.featured {
    cursor: default;
    display: block;
    margin: 0 0 1.5em 0;
    opacity: 0.35;
    text-align: center;
}

#five .icon.featured:before {
    font-size: 5em;
    line-height: 1em;
}

#five .icon > .label {
    display: none;
}

#five ol.default {
    list-style: decimal;
    padding-left: 1.25em;
}

#five ol.default li {
    padding-left: 0.25em;
}

#five ul.default {
    list-style: disc;
    padding-left: 1em;
}

#five ul.default li {
    padding-left: 0.5em;
}

#five ul.icons {
    cursor: default;
}

#five ul.icons li {
    display: inline-block;
    line-height: 1em;
    padding-left: 0.5em;
}

#five ul.icons li:first-child {
    padding-left: 0;
}

#five ul.featured-icons {
    cursor: default;
    margin: -0.75em 0 0 0;
    opacity: 0.35;
    overflow: hidden;
    position: relative;
}

#five ul.featured-icons li {
    display: block;
    float: left;
    text-align: center;
    width: 50%;
}

#five ul.featured-icons li .icon {
    display: inline-block;
    font-size: 6.25em;
    height: 1.25em;
    line-height: 1.25em;
    width: 1em;
}

#five ul.buttons {
    cursor: default;
}

#five ul.buttons:last-child {
    margin-bottom: 0;
}

#five ul.buttons li {
    display: inline-block;
    padding: 0 0 0 1.5em;
}

#five ul.buttons li:first-child {
    padding: 0;
}

#five ul.buttons.vertical li {
    display: block;
    padding: 1.5em 0 0 0;
}

#five ul.buttons.vertical li:first-child {
    padding: 0;
}

@media screen and (max-width: 1680px) {
    #five header.special {
        padding-top: 5.5em;
        margin-bottom: 4em;
    }
}

@media screen and (max-width: 1280px) {
    #five h1,
    #five h2,
    #five h3,
    #five h4,
    #five h5,
    #five h6 {
        line-height: 1.5em;
    }
    #five header.major {
        padding-bottom: 1.5em;
    }
    #five footer.major {
        padding-top: 2em;
    }
    #five .wrapper {
        margin-bottom: 4em;
        padding: 4em 3em;
    }
    #five .wrapper.style4 {
        padding: 3em;
    }
}

@media screen and (max-width: 980px) {
    #five {
        background-size: 15em;
    }
    #five header br {
        display: none;
    }
    #five header.major {
        padding-bottom: 1em;
    }
    #five header.special {
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
    #five footer.major {
        padding-top: 1.5em;
    }
    #five .wrapper {
        margin-bottom: 3em;
        padding: 3em 2.5em;
    }
    #five .wrapper.special br {
        display: none;
    }
    #five .wrapper.style1 {
        padding: 0 2.5em;
    }
    #five .wrapper.style2 {
        background-size: 15em;
    }
    #five .wrapper.style4 {
        padding: 2.5em;
    }
}

@media screen and (max-width: 840px) {
    #five {
        padding: 0 0 5em 0;
    }
    #five .sidebar {
        border-top: solid 1px rgba(124, 128, 129, 0.1);
        padding-top: 3em;
    }
    #five .sidebar section {
        border-top: 0;
        padding-top: 0;
    }
    #five header.major {
        padding-bottom: 0.25em;
    }
    #five header.special {
        margin-bottom: 4em;
        padding-top: 5em;
    }
    #five header.special:before,
    #five header.special:after {
        width: 40%;
    }
    #five header.special h2 + p {
        padding-top: 1.25em;
    }
    #five section {
        margin: 1em auto;
    }
    #five section:first-child {
        margin-top: 0;
    }
    #five input[type="button"].small,
    #five input[type="submit"].small,
    #five input[type="reset"].small,
    #five .button.small {
        font-size: 0.8em;
        min-width: 18em;
        padding: 0.75em 0;
    }
    #five ul.featured-icons {
        margin: 0;
    }
    #five ul.featured-icons li {
        display: inline-block;
        float: none;
        width: auto;
    }
    #five ul.featured-icons li .icon {
        font-size: 4em;
        width: 1.25em;
    }
    #five ul.buttons li {
        display: block;
        padding: 1em 0 0 0;
    }
    #five .wrapper.special-alt {
        text-align: center;
    }
    #five .wrapper.style4 {
        padding-bottom: 3em;
    }
}

@media screen and (max-width: 736px) {
    #five {
        background-size: 10em;
    }
    #five h2 {
        font-size: 1.25em;
        letter-spacing: 0.1em;
    }
    #five h3 {
        font-size: 1.2em;
        letter-spacing: 0.025em;
    }
    #five p {
        text-align: justify;
    }
    #five header {
        text-align: center;
    }
    #five header.major {
        padding-bottom: 0;
    }
    #five header.special {
        margin-bottom: 3em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    #five header.special:before,
    #five header.special:after {
        width: 38%;
    }
    #five header.special .icon {
        font-size: 0.75em;
        top: 1.5em;
    }
    #five header p {
        text-align: center;
    }
    #five footer.major {
        padding-top: 0;
    }
    #five .icon.circle {
        font-size: 1em;
    }
    #five input[type="button"],
    #five input[type="submit"],
    #five input[type="reset"],
    #five .button {
        max-width: 20em;
        width: 100%;
    }
    #five input[type="button"].fit,
    #five input[type="submit"].fit,
    #five input[type="reset"].fit,
    #five .button.fit {
        width: auto;
    }
    #five ul.icons li {
        padding-left: 0.25em;
    }
    #five ul.featured-icons li .icon {
        width: 1.1em;
    }
    #five ul.buttons {
        text-align: center;
    }
    #five .wrapper {
        margin-bottom: 2.5em;
        padding: 2.25em 1.5em;
    }
    #five .wrapper.special br {
        display: none;
    }
    #five .wrapper.style1 {
        padding: 0 1.5em;
    }
    #five .wrapper.style2 {
        background-size: 10em;
        padding: 2.25em 1.5em;
    }
    #five .wrapper.style4 {
        background-size: 10em;
        padding: 1.5em 1.5em 3em 1.5em;
    }
}

#six {
    background-attachment: scroll, scroll, scroll, fixed;
    background-color: #645862;
    background-image: url("../../assets/images/003light-tl.svg"), url("../../assets/images/003light-tr.svg"), url("../../assets/images/003overlay.png"), url("../../assets/images/003banner.jpg");
    background-position: top left, top right, top left, bottom center;
    background-repeat: no-repeat, no-repeat, repeat, no-repeat;
    background-size: 25em, 25em, auto, cover;
    color: #fff;
    padding: 5em;
    text-align: center;
}

#six header {
    margin-bottom: 2em;
}

#six * {
    box-sizing: border-box;
}

#six a {
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    color: #dd3c1a;
    text-decoration: none;
    border-bottom: dotted 1px;
}

#six a:hover {
    border-bottom-color: transparent;
}

#six h2 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

#six p {
    font-size: 1.15em;
    letter-spacing: 0.025em;
    line-height: 1.5em;
}

#six ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#six input[type="button"],
#six input[type="submit"],
#six input[type="reset"],
#six .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background: none;
    border: solid 1px;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 900;
    letter-spacing: 2px;
    min-width: 18em;
    padding: 0 0.75em;
    line-height: 3.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#six input[type="button"]:hover,
#six input[type="submit"]:hover,
#six input[type="reset"]:hover,
#six .button:hover {
    background: rgba(188, 202, 206, 0.15);
    border-color: inherit;
}

#six input[type="button"].special,
#six input[type="submit"].special,
#six input[type="reset"].special,
#six .button.special {
    background: #ee856f;
    border-color: #ee856f;
    color: #fff !important;
}

#six input[type="button"].special:hover,
#six input[type="submit"].special:hover,
#six input[type="reset"].special:hover,
#six .button.special:hover {
    background: #f19886 !important;
    border-color: #f19886 !important;
}

#six footer >:last-child {
    margin-bottom: 0;
}

#six ul.buttons {
    cursor: default;
}

#six ul.buttons:last-child {
    margin-bottom: 0;
}

#six ul.buttons li {
    display: inline-block;
    padding: 0 0 0 1.5em;
}

#six ul.buttons li:first-child {
    padding: 0;
}

@media screen and (max-width: 1280px) {
    #six {
        padding: 4em;
        background-attachment: scroll;
    }
    #six h2 {
        line-height: 1.5em;
    }
}

@media screen and (max-width: 980px) {
    #six {
        background-size: 15em, 15em, auto, cover;
        padding: 3em;
    }
    #six header br {
        display: none;
    }
}

@media screen and (max-width: 840px) {
    #six {
        margin: 0;
    }
    #six input[type="button"].small,
    #six input[type="submit"].small,
    #six input[type="reset"].small,
    #six .button.small {
        font-size: 0.8em;
        min-width: 18em;
        padding: 0.75em 0;
    }
    #six ul.buttons li {
        display: block;
        padding: 1em 0 0 0;
    }
}

@media screen and (max-width: 736px) {
    #six {
        background-size: 10em, 10em, auto, cover;
        padding: 3em 1.5em;
    }
    h2 {
        font-size: 1.25em;
        letter-spacing: 0.1em;
    }
    p {
        text-align: justify;
    }
    header {
        text-align: center;
    }
    header p {
        text-align: center;
    }
}

#seven {
    background: #E8EEF4;
    color: #7c8081;
    padding: 5em 5em 10em 5em;
    text-align: center;
}

#seven .copyright {
    margin: 2em;
    font-size: 0.8em;
    line-height: 1em;
}

#seven .copyright a {
    color: inherit;
}

#seven .copyright li {
    display: inline-block;
    margin-left: 1em;
    padding-left: 1em;
    border-left: dotted 1px;
}

#seven .copyright li:first-child {
    margin: 0;
    padding: 0;
    border: 0;
}

#seven * {
    box-sizing: border-box;
}

#seven a {
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    color: #dd3c1a;
    text-decoration: none;
    border-bottom: dotted 1px;
}

#seven a:hover {
    border-bottom-color: transparent;
}

#seven ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#seven footer >:last-child {
    margin-bottom: 0;
}

#seven .icon {
    text-decoration: none;
    position: relative;
}

#seven .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#seven .icon.circle {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 0;
    border-radius: 100%;
    display: inline-block;
    font-size: 1.25em;
    height: 2.25em;
    left: 0;
    line-height: 2.25em;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 2.25em;
}

#seven .icon.circle:hover {
    top: -0.2em;
}

#seven .icon.circle.fa-twitter {
    background: #70aecd;
    color: #fff;
}

#seven .icon.circle.fa-twitter:hover {
    background: #7fb7d2;
}

#seven .icon.circle.fa-facebook {
    background: #7490c3;
    color: #fff;
}

#seven .icon.circle.fa-facebook:hover {
    background: #829bc9;
}

#seven .icon.circle.fa-google-plus {
    background: #db6b67;
    color: #fff;
}

#seven .icon.circle.fa-google-plus:hover {
    background: #df7b77;
}

#seven .icon.circle.fa-github {
    background: #dcad8b;
    color: #fff;
}

#seven .icon.circle.fa-github:hover {
    background: #e1b89b;
}

#seven .icon.circle.fa-dribbble {
    background: #da83ae;
    color: #fff;
}

#seven .icon.circle.fa-dribbble:hover {
    background: #df93b8;
}

#seven .icon.featured {
    cursor: default;
    display: block;
    margin: 0 0 1.5em 0;
    opacity: 0.35;
    text-align: center;
}

#seven .icon.featured:before {
    font-size: 5em;
    line-height: 1em;
}

#seven .icon > .label {
    display: none;
}

#seven ul.icons {
    cursor: default;
}

#seven ul.icons li {
    display: inline-block;
    line-height: 1em;
    padding-left: 0.5em;
}

#seven ul.icons li:first-child {
    padding-left: 0;
}

@media screen and (max-width: 1280px) {
    #seven {
        padding: 4em;
    }
}

@media screen and (max-width: 840px) {
    #seven {
        padding: 4em 1.5em;
    }
}

@media screen and (max-width: 736px) {
    #seven {
        padding: 3em 1.5em;
    }
    #seven .icon.circle {
        font-size: 1em;
    }
    #seven ul.icons li {
        padding-left: 0.25em;
    }
    #seven .copyright li {
        display: block;
        margin: 1em 0 0 0;
        padding: 0;
        border: 0;
    }
}
