 #banner {
     padding: 4em 0 2em 0;
     height: 100%;
     left: 0;
     position: absolute;
     text-align: center;
     top: 0;
 }
 
 #banner .inner:before,
 #banner .inner:after {
     display: none;
 }
 /* Wrapper */
 
 #wrapper {
     position: absolute;
     top: 0;
     left: 35vw;
 }
