 .button {
     background-image: url("images/ie/grad0-20.svg");
 }
 
 .box-feature1 header.second {
     left: 0;
 }
 /* Wrappers */
 
 #footer-wrapper,
 #header .inner {
     background-image: url("images/ie/grad0-35.svg");
 }
 /* Nav */
 
 .dropotron {
     background-image: url("images/ie/grad35-0.svg");
 }
 /* Mobile UI */
 
 #titleBar,
 #navPanel {
     background-image: url("images/ie/grad0-35.svg");
 }
